<!-- Page title -->
<div class="page-header d-print-none">
  <div class="row align-items-center">
    <div class="col">
      <!-- Page pre-title -->
      <div class="page-pretitle">
        Confrm Dashboard
      </div>
      <h2 class="page-title">
        Configuration
      </h2>
    </div>
    <div class="col-auto ms-auto d-print-none">
      <div class="dropdown">
        <div class="btn btn-primary dropdown-toggle align-next-top" data-bs-boundary="viewport"
          data-bs-toggle="dropdown">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="12" y1="5" x2="12" y2="19" />
            <line x1="5" y1="12" x2="19" y2="12" /></svg>
          Add new config 
        </div>
        <div class="dropdown-menu dropdown-menu-end">
          <div class="dropdown-item config-add-button" style="cursor:pointer" 
            data-bs-toggle="modal" data-bs-target="#modal-config-add" data-type="global"
            data-bs-backdrop="static" data-bs-keyboard="false">
            Global
          </div>
          <div class="dropdown-item config-add-button" style="cursor:pointer" 
            data-bs-toggle="modal" data-bs-target="#modal-config-add" data-type="package"
            data-bs-backdrop="static" data-bs-keyboard="false">
            Package
          </div>
          <div class="dropdown-item config-add-button" style="cursor:pointer" 
            data-bs-toggle="modal" data-bs-target="#modal-config-add" data-type="node"
            data-bs-backdrop="static" data-bs-keyboard="false">
            Node
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<div class="row row-deck row-cards">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title" id="config-table-title">Configurations</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap datatable">
          <thead>
            <tr>
              <th>Key</th>
              <th>Type</th>
              <th>ID</th>
              <th>Value</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="config-table-body">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-blur fade" id="modal-config" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
        <div  class="btn btn-primary config-modal-submit">
          Submit
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-blur fade" id="modal-config-add" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
        <div  class="btn btn-primary config-modal-add">
          Add
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-blur fade" id="modal-config-confirm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
        <h3>Are you sure?</h3>
        <div class="text-muted modal-question">Do you really want to remove this config? This done cannot be undone.</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col"><a href="#" class="btn btn-white w-100" data-bs-dismiss="modal">
                Cancel
              </a></div>
            <div class="col"><a href="#" class="btn btn-danger w-100 modal-config-confrm-yes" data-bs-dismiss="modal">
                Delete config
              </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
