<!-- Page title -->
<div class="page-header d-print-none">
  <div class="row align-items-center">
    <div class="col">
      <!-- Page pre-title -->
      <div class="page-pretitle">
        Confrm Dashboard
      </div>
      <h2 class="page-title">
        Packages
      </h2>
    </div>
    <!-- Page title actions -->
    <div class="col-auto ms-auto d-print-none">
      <div class="btn-list">
        <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
          data-bs-target="#modal-package-add" data-bs-backdrop="static">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="12" y1="5" x2="12" y2="19" />
            <line x1="5" y1="12" x2="19" y2="12" /></svg>
          Add new package
        </a>
        <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-package-add"
          aria-label="Add new package" data-bs-backdrop="static">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="12" y1="5" x2="12" y2="19" />
            <line x1="5" y1="12" x2="19" y2="12" /></svg>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row row-deck row-cards">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title" id="packages-table-title">Xx Packages Installed</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap datatable">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Version</th>
              <th>Platform</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="packages-table-body">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-blur fade" id="modal-package-add" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New package</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" id="package-add-input-name" name="name" placeholder="Name (0-9a-zA-Z only)" autocomplete="off">
        </div>
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input type="text" class="form-control" name="title" placeholder="Readable title" autocomplete="off">
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <input type="text" class="form-control" name="description" placeholder="Description of package" autocomplete="off">
        </div>
        <div class="mb-3">
          <label class="form-label">Platform</label>
          <input type="text" class="form-control" name="platform" placeholder="Platform name (i.e. esp32, es8266)" autocomplete="off">
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
          Cancel
        </a>
        <div class="btn btn-primary ms-auto package-add-submit">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
          Create new package
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-blur fade" id="modal-package-upload" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="form-label modal-package-version-info"></label>
        <div class="form-fieldset package-upload-version">
          <div class="row">
            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Major</label>
                <input type="text" name="major" class="form-control" value="" autocomplete="off">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Minor</label>
                <input type="text" name="minor" class="form-control" value="" autocomplete="off">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Revision</label>
                <input type="text" name="revision" class="form-control" value="" autocomplete="off">
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Upload binary file</label>
          <div class="form-fieldset">
          <input type="file" class="form-control" id="package-upload-file">
          </div>
        </div>
        <label class="form-label">Deployment Strategy</label>
        <div class="form-fieldset">
          <div class="mb-3">
            <select name="deployment" class="form-select package-deployment-select">
              <option value="immediate" selected="selected">Immediate</option>
              <option value="canary">Canary</option>
              <option value="upload">Upload only</option>
            </select>
          </div>
          <div class="package-deployment-canary"></div>
        </div>
        <div class="modal-footer">
          <div class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
          </div>
          <div  class="btn btn-primary package-upload-submit">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
            Upload Version
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal modal-blur fade" id="modal-package-info" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-blur fade" id="modal-package-confirm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
        <h3>Are you sure?</h3>
        <div class="text-muted modal-question"></div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col"><a href="#" class="btn btn-white w-100" data-bs-dismiss="modal">
                Cancel
              </a></div>
            <div class="col"><a href="#" class="btn btn-danger w-100 modal-package-confirm-yes" data-bs-dismiss="modal">
                Delete package
              </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
